
<app-header></app-header>


<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" translate>
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/product" translate>
              <span data-feather="file"></span>
              Add Product
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/listproduct" translate>
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/company" translate>
              <span data-feather="users"></span>
              Company
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" translate>
              <span data-feather="bar-chart-2"></span>
              Contact
            </a>
          </li>
        </ul>

      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">CodeMax Assignment</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="mr-2"> Cart : {{totalitems}}</div>
         
          <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" (click)="useLanguage('en')">English</button>
            <button class="btn btn-sm btn-outline-secondary" (click)="useLanguage('fr')">French</button>
          </div>
          
        </div>
      </div>

      <router-outlet>	</router-outlet>

      
    </main>
  </div>
</div>

<!--  <div class="sidebar">		
    
    <div class="col-lg-2 col-md-2 col-sm-12 col-12 p-0">
      <div class="bookingDetailsSidebar card-body">
        <div>
          <button (click)="useLanguage('en')">English</button>
          <button (click)="useLanguage('fr')">French</button>
        </div>
        
        <ul >
            <li><a routerLink="/home" translate>Home</a></li>
            <li><a routerLink="/product" translate>Add Product</a></li>
            <li><a routerLink="/listproduct" translate>Product</a></li>
            <li><a routerLink="/company" translate>Company</a></li>
            <li><a routerLink="/contact" translate>Contact</a></li>
  
        </ul>
      </div>
      
    </div>
    <router-outlet>	</router-outlet>

  </div> -->
  <app-footer></app-footer>